<h1>Listing site_admins</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @site_admins.each do |site_admin| %>
      <tr>
        <td><%= link_to 'Show', site_admin %></td>
        <td><%= link_to 'Edit', edit_site_admin_path(site_admin) %></td>
        <td><%= link_to 'Destroy', site_admin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Site admin', new_site_admin_path %>
