<div class="row">
<div class="col-md-3">
<h1>Editing ngo</h1>
</div>
<div class="col-md-6">
</div>
<div class="col-md-3">
<%= link_to 'Back', @ngo ,:class=> "btn btn-primary"%>
</div>
</div>
<%= render 'form' %>

 

