<div class="row">
<div class="col-md-3">
<h1>Listing ngos</h1>
</div>
<div class="col-md-8">
</div>
<div class="col-md-1">
<%= link_to 'New Ngo', new_ngo_path ,:class=> "btn btn-primary" %>
</div>
</div>



<!--<table>
  <thead>
    <tr>
      <th>Ngo name</th>
      <th>Bank account</th>
      <th>Ngo number</th>
      <th>Website</th>
      <th>Zip code</th>
      <th>Phone number</th>
      <th>Fb link</th>
      <th>Tw link</th>
      <th>Gp link</th>
      <th>Country</th>
      <th>Governorate</th>
      <th>City</th>
      <th>Street</th>
      <th>Apartment</th>
      <th>description</th>
      <th>email</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>-->
    <div class="row">
    <% @ngos.each do |ngo| %>
    <div class="col-md-4">
    <div class="team-member">
    <%= link_to ( image_tag ngo.image.url ), ngo %>
      
     
      <p class="team-member-position">
          <%= ngo.city %>
        </p>
        <p class="team-member-desciption">
              <h4> <%= ngo.NGO_name %></h4>
            

        </p>
           <ul class="team-member-social">
           <li>
             <a class="fa fa-google-plus" href="<% ngo.gp_link %>"></a>
           </li>
           <li>
            <a class="fa fa-twitter" href="<% ngo.tw_link %>"></a>
           </li>
           <li>
           <a class="fa fa-facebook" href="<% ngo.fb_link %>"></a>
           </li>
           </ul>
     <!-- <tr>
        <td></td>
        <td>ngo.bank_account </td>
        <td> ngo.NGO_number </td>
        <td> ngo.website </td>
        <td> ngo.ZIP_code </td>
        <td> ngo.phone_number </td>
        <td></td>
        <td></td>
        <td></td>
        <td> ngo.country </td>
      
        <td></td>
        <td> ngo.street </td>
       
         <td> ngo.description </td>
          <td> ngo.email </td>
          
        <td></td>
       <td> link_to 'Edit', edit_ngo_path(ngo) </td>
        <td> link_to 'Destroy', ngo, method: :delete, data: { confirm: 'Are you sure?' } </td>
      </tr>-->
      </div>
      </div>
    <% end %>
 </div>






    
       
       
        
        
     
       

