
<div class="row">
<div class="col-md-3">
<h1>New ngo</h1>
</div>
<div class="col-md-8">
</div>
<div class="col-md-1">
<%= link_to 'Back', ngos_path ,:class=> "btn btn-primary" %>
</div>
</div>
<%= render 'form' %>
