<% @counter = 1 %>
<div class="row">
	<div class="col-md-11"></div>
	<div class="col-md-1">
	<%= link_to 'See More' , {:controller => 'ngos' , :action => 'index'}, :class=> "btn btn-primary"%>
	</div>
</div>
   <div class="row">
   <% @ngos = Ngo.order("id DESC").all %>
    <% @ngos.each do |ngo| %>
    <% if @counter < 4 %>
    <% unless  ngo.active_ngo ==  true and ngo.wait_approve == true %>  
    <div class="col-md-4">
    <div class="team-member">
    <%= link_to ( image_tag ngo.image.url ), ngo %>
      
     
      <p class="team-member-position">
          <%= ngo.city %>
        </p>
        <p class="team-member-desciption">
              <h4> <%= ngo.NGO_name %></h4>
            

        </p>
           <ul class="team-member-social">
           <li>
             <a class="fa fa-google-plus" href="<% ngo.gp_link %>"></a>
           </li>
           <li>
            <a class="fa fa-twitter" href="<% ngo.tw_link %>"></a>
           </li>
           <li>
           <a class="fa fa-facebook" href="<% ngo.fb_link %>"></a>
           </li>
           </ul>
  
      </div>
      </div>
      <% end %> 
      <% end %>
      <% ++@counter %>
    <% end %>
    </div>