<h1>Listing charities</h1>

<table>
  <thead>
    <tr>
      <th>Charity field</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @charities.each do |charity| %>
      <tr>
        <td><%= charity.charity_field %></td>
        <td><%= link_to 'Show', charity %></td>
        <!--<td>ink_to 'Edit', edit_charity_path(charity)</td>
        <td> link_to 'Destroy', charity, method: :delete, data: { confirm: 'Are you sure?' } </td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Charity', new_charity_path %>
