<p id="notice"><%= notice %></p>

<p>
  <strong>Charity field:</strong>
  <%= @charity.charity_field %>
</p>

<%= link_to 'Edit', edit_charity_path(@charity) %> |
<%= link_to 'Back', charities_path %>
