<div class="container">
            <div class="row">
                <div class="col-md-8">
                    <table class="table cart-table">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Name</th>
                                <th>QTY</th>
                                <th>Price</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody>


<% @carts.each do |cart| %>
<% if cart.registered_user_id == current_user.id %>
<% @current_user_cart=cart.id%>
<% break%>
<% end%>
<% end%>
  <tbody>

    <% @product_carts.each do |product_cart| %>
      <tr>
        <% if product_cart.cart_id == @current_user_cart %>
          <td><% @my_product=product_cart.product_id %></td>
            <%@products.each do |product|%>
                <% if product.id==@my_product%>



                            <tr>
                                <td class="cart-item-image">
                                    <a href="#">
                                        
                                    </a>
                                </td>
                                <td><a href="#">New Glass Collection</a>
                                </td>
                                <td class="cart-item-quantity"><i class="fa fa-minus cart-item-minus"></i>
                                    <input type="text" name="cart-quantity" class="cart-quantity" value="1" /><i class="fa fa-plus cart-item-plus"></i>
                                </td>
                                <td>$150</td>
                                <td class="cart-item-remove">
                                    <a class="fa fa-times" href="#"></a>
                                </td>
                            </tr>






                <%end%>
            <%end%>   


<%end%>
    <% end %>













                        </tbody>
                    </table>  <a href="#" class="btn btn-primary">Update the cart</a>
                </div>
                <div class="col-md-3">
                    <ul class="cart-total-list">
                        <li><span>Sub Total</span><span>$500.00</span>
                        </li>
                        <li><span>Shipping</span><span>$0.00</span>
                        </li>
                        <li><span>Taxes</span><span>$0.00</span>
                        </li>
                        <li><span>Total</span><span>$500.00</span>
                        </li>
                    </ul>
                    <a href="#" class="btn btn-primary btn-lg">Checkout</a>
                </div>
            </div>



















                    
 

