<div class="col-md-3">
                    <aside class="sidebar-left">
                        <ul class="nav nav-tabs nav-stacked nav-coupon-category">
                            <li class="active"><a href="#"><i class="fa fa-ticket"></i>All</a>
                            </li>
                            <li><a href="#"><i class="fa fa-cutlery"></i>Food &amp; Drink</a>
                            </li>
                            <li><a href="#"><i class="fa fa-calendar"></i>Events</a>
                            </li>
                            <li><a href="#"><i class="fa fa-female"></i>Beauty</a>
                            </li>
                            <li><a href="#"><i class="fa fa-bolt"></i>Fitness</a>
                            </li>
                            <li><a href="#"><i class="fa fa-headphones"></i>Electronics</a>
                            </li>
                            <li><a href="#"><i class="fa fa-image"></i>Furniture</a>
                            </li>
                            <li><a href="#"><i class="fa fa-umbrella"></i>Fashion</a>
                            </li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i>Shopping</a>
                            </li>
                            <li><a href="#"><i class="fa fa-home"></i>Home &amp; Garden</a>
                            </li>
                            <li><a href="#"><i class="fa fa-plane"></i>Travel</a>
                            </li>
                        </ul>
                        <div class="sidebar-box">
                            <h5>Filter By Price</h5>
                            <span class="irs" id="irs-1"><span class="irs"><span class="irs-line"><span class="irs-line-left"></span><span class="irs-line-mid"></span><span class="irs-line-right"></span></span><span class="irs-min" style="display: none;">$130</span><span class="irs-max" style="display: none;">$575</span><span class="irs-from" style="left: 0px; display: block;">$130</span><span class="irs-to" style="left: 161px; display: block;">$575</span><span class="irs-single" style="left: 56px; display: none;">$130 — $575</span><span class="irs-diapason" style="left: 9px; width: 173px;"></span><span class="irs-slider from last" style="left: 0px;"></span><span class="irs-slider to" style="left: 173px;"></span></span><span class="irs-grid"></span></span><input type="text" id="price-slider" value="130;575" style="display: none;">
                        </div>
                        <div class="sidebar-box">
                            <h5>Product Feature</h5>
                            <ul class="checkbox-list">
                                <li class="checkbox">
                                    <label>
                                        <div class="i-check"><input type="checkbox" class="i-check" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>On Sale</label>
                                </li>
                                <li class="checkbox">
                                    <label>
                                        <div class="i-check"><input type="checkbox" class="i-check" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>New</label>
                                </li>
                                <li class="checkbox">
                                    <label>
                                        <div class="i-check"><input type="checkbox" class="i-check" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>Ending Soon</label>
                                </li>
                                <li class="checkbox">
                                    <label>
                                        <div class="i-check"><input type="checkbox" class="i-check" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>High Rating</label>
                                </li>
                                <li class="checkbox">
                                    <label>
                                        <div class="i-check"><input type="checkbox" class="i-check" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>Free Shipping</label>
                                </li>
                            </ul>
                        </div>
                        <div class="sidebar-box">
                            <h5>Recent Viewed</h5>
                            <ul class="thumb-list">
                                <li>
                                    <a href="#">
                                        <img src="img/70x70.png" alt="Image Alternative text" title="Urbex Esch/Lux with Laney and Laaaaag">
                                    </a>
                                    <div class="thumb-list-item-caption">
                                        <h5 class="thumb-list-item-title"><a href="#">Best Camera</a></h5>
                                        <p class="thumb-list-item-price">$227</p>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/70x70.png" alt="Image Alternative text" title="AMaze">
                                    </a>
                                    <div class="thumb-list-item-caption">
                                        <h5 class="thumb-list-item-title"><a href="#">New Glass Collection</a></h5>
                                        <p class="thumb-list-item-price">$278</p>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/70x70.png" alt="Image Alternative text" title="waipio valley">
                                    </a>
                                    <div class="thumb-list-item-caption">
                                        <h5 class="thumb-list-item-title"><a href="#">Awesome Vacation</a></h5>
                                        <p class="thumb-list-item-price">$475</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="sidebar-box">
                            <h5>Popular</h5>
                            <ul class="thumb-list">
                                <li>
                                    <a href="#">
                                        <img src="img/70x70.png" alt="Image Alternative text" title="Food is Pride">
                                    </a>
                                    <div class="thumb-list-item-caption">
                                        <h5 class="thumb-list-item-title"><a href="#">Best Pasta</a></h5>
                                        <p class="thumb-list-item-price">$203</p>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/70x70.png" alt="Image Alternative text" title="Old No7">
                                    </a>
                                    <div class="thumb-list-item-caption">
                                        <h5 class="thumb-list-item-title"><a href="#">Jack Daniels Huge Pack</a></h5>
                                        <p class="thumb-list-item-price">$499</p>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img/70x70.png" alt="Image Alternative text" title="The Hidden Power of the Heart">
                                    </a>
                                    <div class="thumb-list-item-caption">
                                        <h5 class="thumb-list-item-title"><a href="#">Beach Holidays</a></h5>
                                        <p class="thumb-list-item-price">$460</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>