<div class="col-md-3">
                    <aside class="sidebar-left">
                        <ul class="nav nav-tabs nav-stacked nav-coupon-category">
                            <li class="active"><a href="#"><i class="fa fa-ticket"></i>All</a>
                            </li>
                            <li><a href="#"><i class="fa fa-cutlery"></i>Food &amp; Drink</a>
                            </li>
                            <li><a href="#"><i class="fa fa-calendar"></i>Events</a>
                            </li>
                            <li><a href="#"><i class="fa fa-female"></i>Beauty</a>
                            </li>
                            <li><a href="#"><i class="fa fa-bolt"></i>Fitness</a>
                            </li>
                            <li><a href="#"><i class="fa fa-headphones"></i>Electronics</a>
                            </li>
                            <li><a href="#"><i class="fa fa-image"></i>Furniture</a>
                            </li>
                            <li><a href="#"><i class="fa fa-umbrella"></i>Fashion</a>
                            </li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i>Shopping</a>
                            </li>
                            <li><a href="#"><i class="fa fa-home"></i>Home &amp; Garden</a>
                            </li>
                            <li><a href="#"><i class="fa fa-plane"></i>Travel</a>
                            </li>
                        </ul>
                        
                    </aside>
                </div>