
<%
        @product_category = ProductCategory.all
        @product = Product.all

%>
<div class="col-md-3">
                    <aside class="sidebar-left">
                        <ul class="nav nav-tabs nav-stacked nav-coupon-category">
                            <li class="active"><a href="#"><i class="fa fa-ticket"></i>Categories</a>
                            </li>
                            <% @product_category.each do |product_category|%>
                            <li>

                            
                            <a href="/products/list_category/<%=product_category.id%>"><%=product_category.category_name%>
                            <i class="fa fa-shopping-cart"></i>

             
                            
                            
</a>

                            </li>

<% end %>
                           
                        </ul>
                        
                    </aside>
                    
                </div>